.pop__cars {
  opacity: 0;
  transition: .3s;
  pointer-events: none;
  display: flex;
  &.active {
    opacity: 1;
    pointer-events: visible;
  }
  &-item {
    max-width: 358px;
    width: 100%;
    max-height: 100%;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 19px;
    background: white;
    padding: 18px 16px 26px;
    opacity: 0;
    display: flex;
    position: relative;
    transition: .3s;
    @media (min-width: 768px) {
      max-width: 610px;
    }
    @media (min-width: 1024px) {
      padding: 30px 36px 36px;
    }
    &.opened {
      opacity: 1;
      z-index: 100;
    }
    &-scroll {
        &::-webkit-scrollbar {
          width: 2px;
        }
        &::-webkit-scrollbar-track {
          background: #a8a5a5;
        }
        &::-webkit-scrollbar-thumb {
          background: #5b5b5b;
        }
      }
  }
  .slick-slide {
    margin: 0 5px;
  }
  &-slider {
    height: 157px;
    @media (min-width: 768px) {
      height: 270px;
    }
  }
  &-slide {
    height: 157px;
    @media (min-width: 768px) {
      height: 270px;
    }
  }
  &-prev-arrow,
  &-next-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
    @media (min-width: 1024px) {
      width: 60px;
      height: 60px;
    }
  }
  &-prev-arrow {
    left: -27px;
    @media (min-width: 1024px) {
      left: -46px;
    }
  }
  &-prev-arrow svg {
    margin-right: 2px;
  }
  &-next-arrow {
    right: -27px;
    @media (min-width: 1024px) {
      right: -46px;
    }
  }
  &-next-arrow svg {
    margin-left: 2px;
  }
  &-prev-arrow svg,
  &-next-arrow svg {
    position: relative;
    z-index: 2;
    @media (min-width: 1024px) {
      width: 12px;
      height: 20px;
    }
  }
  &-prev-arrow:after,
  &-next-arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $main-blue;
    z-index: 1;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    transition: .3s;
    @media (min-width: 1024px) {
      width: 46px;
      height: 46px;
    }
  }
  &-prev-arrow {
    &:hover {
      &:after {
        background-color: #FED118;
      }
    }
  }
  &-next-arrow {
    &:hover {
      &:after {
        background-color: #FED118;
      }
    }
  }
  &-fields {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.09);
      padding-bottom: 12px;
    }
  }
}