.contacts {
  &__items {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(36, 36, 36, 0.17);
      @media (min-width: 768px) {
        border-right: 1px solid rgba(36, 36, 36, 0.17);
        border-bottom: 0;
        padding-right: 16px;
      }
    }
    //&:nth-last-child(2) {
    //  @media (min-width: 768px) {
    //    border-right: 1px solid black;
    //  }
    //}
    & span {
      transition: .3s;
    }
    @media (min-width: 1024px) {
      &:hover {
        span {
          color: $main-blue;
          opacity: .5;
        }
      }
    }
  }
  form {
    .wpcf7-spinner {
      display: none;
    }
    .wpcf7-response-output {
      display: none;
    }
    p {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0 3px;
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 16px;
        & > .wpcf7-form-control-wrap[data-name="your-message"] {
          grid-area: 3 / 1 / 4 / 3;
        }
      }
      .wpcf7-form-control-wrap {
        & > textarea {
          min-height: 128px;
        }
      }
    }
  }
  &__field {
    &::placeholder {
      color: rgba(36, 36, 36, 0.56);
      transition: .3s;
    }
    &:focus::placeholder {
      color: rgba(36, 36, 36, 0.23);;
    }
  }
  &__submit {
    grid-area: 4 / 1 / 5 / 3;
    &.disabled-button {
      opacity: .4;
      pointer-events: none;
    }
  }
  &__social {
    @media (min-width: 1024px) {
      &:hover {
        .contacts__social-hover {
          opacity: 1;
        }
        .contacts__social-original {
          opacity: 0;
        }
      }
    }
    &-original {
      transition: .3s;
    }
    &-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: .3s;
    }
  }
}
.screen-reader-response {
  display: none;
}