.reviews {
  &__person {
    font-size: 16px;
    line-height: 130%;
    color: rgba(36, 36, 36, 0.55);
    b{
      color: $main-black;
    }
  }
  &-prev-arrow.slick-disabled,
  &-next-arrow.slick-disabled {
    opacity: .5;
  }
  &__desk-prev-arrow.slick-disabled,
  &__desk-next-arrow.slick-disabled {
    opacity: .5;
    pointer-events: none;
  }
 .slick-slide  {
   margin: 0 10px;
 }
  &__slider {
    margin: 20px -11px 0;
    @media (min-width: 1024px) {
      margin: 36px -11px 0;
    }
  }
}